@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: url("../fonts/SegoeUI.woff");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/SegoeUI-Italic.woff");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("../fonts/SegoeUI-SemiBold.woff");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: url("../fonts/SegoeUI-Bold.woff");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/SegoeUI-BoldItalic.woff");
}