* {
  outline: none;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Segoe UI", sans-serif;
  color: #111111;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0 0 40px 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

.container {
  max-width: 100%;
  padding: 0 40px;
}

.btn {
  width: 150px;
  height: 52px;
  border: none;
  background: transparent;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
  transition: .3s all ease-out;
}

.btn-danger {
  background: #DB5461;
  color: #ffffff;

  &:hover {
    background: #E27782;
  }
}

.btn-warning {
  background: #FBD240;

  &:hover {
    background: #FCDC6A;
  }
}

.btn-success {
  background: #16C172;
  color: #ffffff;

  &:hover {
    background: #18D47C;
  }
}

.btn-primary {
  background: #7E93FF;
  color: #ffffff;

  &:hover {
    background: #9BACFF;
  }
}

.content {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textarea {
  border: 1px solid #cfcfcf;
  height: 140px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 14px;
  display: flex;
  align-items: center;
  color: #111111;
  font-size: 18px;
  line-height: 120%;
  width: 100%;
  resize: none;
  &::placeholder {
    color: #cfcfcf;
  }
}

.input {
  border: 1px solid #cfcfcf;
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 30px;
  color: #111111;
  font-size: 18px;
  line-height: 120%;

  &::placeholder {
    color: #cfcfcf;
  }
}

.input-disabled {
  background: #CFCFCF;
  color: #111111;
  &::placeholder {
    color: #111111;

  }
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}
.exit {
  position: absolute;
  top: 60px;
  right: 60px;
  cursor: pointer;
}

.input-error {
  border: 1px solid #DB5461;
  color: #DB5461;
  &::placeholder {
    color: #DB5461;
  }
}